	@charset "utf-8";

/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
	margin: 0;
	max-width: 100%;
}

ul,
li {
	margin: 0;
	padding: 0;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #3397db;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/* ====================== Main Page ====================== */

/* ====================== Navigation ====================== */
.skip-link {
  position: absolute;
  top: -100px;
}
.skip-link:focus {
  top: 0;
  color: #fff;
} 

nav {
	width: 100%;
	height: 100px;
	background-color: #252831;
	text-align: center;
}

nav h1 a {
	color: #fff;
	font-size: 10pt;
	font-weight: 200;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.heading {
	height: 100px;
	display: table-cell;
	vertical-align: middle;
}

/* ====================== Main Container ====================== */

#maincontent {
	background-color: #f3f3f3;
}

/* ====================== Map Container ====================== */

#map {
	height: 400px;
}

/* ====================== Filter Results ====================== */

.filter-options {
	max-width: 100%;
	background-color: #3397DB;
	padding: 10px;
}

.filter-options h2 {
	color: white;
	font-size: 18px;
	font-weight: bolder;
	margin: 0 20px;
	letter-spacing: 1px;
}

.filter-options select {
	border-radius: 5px;
	background-color: white;
	font-size: 16px;
	height: 35px;
	margin: 5px 10px;
	padding: 0 10px;
}

/* ====================== Restaurants' List ====================== */

#restaurants-list {
	display: flex;
	flex-wrap: wrap;
	background-color: #f3f3f3;
	list-style: outside none none;
	margin: 10px 0;
	padding: 0 7px;
}

#restaurants-list li {
	background-color: #fff;
	border: 2px solid #ccc;
	margin: 15px auto;
	padding: 10px 10px;
	width: 270px;
	border-radius: 25px;
}

.restaurant-img {
	max-width: 100%;
	margin-top: 10px;
	border-radius: 15px;
}

#restaurants-list li h1 {
	color: #f18200;
	font-size: 14pt;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 20px 0 10px;
	text-transform: uppercase;
	text-align: center;
}

#restaurants-list p {
	margin: 0;
	font-size: 11pt;
	text-align: center;
}

#restaurants-list li a {
	background-color: orange;
	border-bottom: 3px solid #eee;
	color: #fff;
	display: inline-block;
	font-size: 10pt;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 7px;
	margin-top: 10px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

/* ====================== Footer ====================== */

#footer {
	background-color: #444;
	color: #aaa;
	font-size: 8pt;
	letter-spacing: 1px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
}

/* ====================== End of the Main Page ====================== */

/* ====================== Details Page ====================== */

/* ====================== Breadcrump Container ====================== */

#breadcrumb {
	padding: 10px 0 16px 20px;
	list-style: none;
	background-color: #eee;
	font-size: 12px;
	max-width: 100%;
}

/* Display list items side by side */

#breadcrumb li {
	display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
	padding: 2px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
	color: #0275d8;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}

/* ====================== Maincontent Container ====================== */

.inside #maincontent {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #fff;
}

/* ====================== Map Container ====================== */

.inside #map-container {
	margin-top: 10px;
	width: 50%;
	order: 4;
}

.inside #map {
	height: 100%;
}

/* ====================== Restaurant Container ====================== */

.inside #restaurant-container {
	box-sizing: border-box;
	width: 50%;
	order: 3;
	border-bottom: 1px solid #d9d9d9;
	padding: 0 20px;
}

#restaurant-name {
	color: #f18200;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 0;
	margin: 20px 0;
	text-transform: uppercase;
	text-align: center;
}

#restaurant-img {
	margin-top: 0;
	max-width: 100%;
	border-radius: 50px 0;
}

#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	font-size: 12pt;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 0 20px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
	max-width: 100%;
}

#restaurant-address {
	font-size: 12pt;
	margin: 10px 10px;
	font-weight: bold;
}

#restaurant-hours td {
	color: #666;
	padding-left: 10px;
}

/* ====================== Reviews Container ====================== */

#reviews-container {
	padding: 2vw 5vw 3vw;
	order: 5;
}

#reviews-container h2 {
	color: #f58500;
	font-size: 24px;
	letter-spacing: 1px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: normal;
}

#reviews-list li {
	background-color: #fff;
	border-radius: 25px 0;
	overflow: hidden;
	margin-bottom: 3vw;
}

.rewhead {
	height: 55px;
	background-color: #252831;
}

.name {
	margin-top: 0;
	color: #fff;
	font-size: 20px;
	padding-left: 20px;
	line-height: 55px;
	display: inline-block;
	vertical-align: middle;
}

.date {
	color: #fff;
	line-height: 55px;
	display: inline;
	vertical-align: middle;
	float: right;
	padding-right: 20px;
}

.rating {
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	background-color: #f58500;
	text-transform: uppercase;
	padding: 5px;
	font-weight: bold;
	margin: 5px 0 5px 10px;
}

.comments {
	margin: 5px 15px;
}

/* ====================== End of the Details Page ====================== */

/* ====================== Media queries ====================== */

@media screen and (max-width: 823px) {
	/* ====================== Main Page ====================== */
	.filter-options {
		padding: 5px;
	}
	.filter-options h2 {
		font-size: 16px
	}
	.filter-options select {
		font-size: 14px;
	}
	.filter-options option {
		font-size: 14px;
	}
	/* ====================== Details Page ====================== */
	.inside #map-container {
		width: 100%;
		height: 300px;
		order: 1;
	}
	.inside #restaurant-container {
		width: 100%;
	}
	#restaurant-name {
		margin-top: 10px 0;
		font-size: 20px;
	}
}

@media screen and (max-width: 360px) {
	/* ====================== Main Page ====================== */
	.filter-options select {
		font-size: 12px;
		margin: 3px;
	}
	.filter-options option {
		font-size: 12px;
	}
